.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.is-done {
    opacity: 0.4;
}

.active-filter {
    background-color: lightskyblue;
}
.error{
    border:4px mediumvioletred solid;
}

.error-message{
    color: mediumvioletred;
}